.loading-spinner {
  text-align: center;
  color: var(--color-orange);

  position: absolute;
  //margin: auto;
  //top: 0;
  //left: 0;
  //bottom: 0;
  //right: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__icon {
    //width: 300px;
  }
}