.loading-spinner {
  display: block;
  width: 100%;
  text-align: center;
  color: var(--color-orange);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 30vh;
  transform: translate(-50%, -50%);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}