.menu {

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Bungee', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    color: #DFE0E4;
  }
}