@font-face {
  font-family: 'Zen Dots';
  src: url('./../fonts/ZenDots-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Yomogi';
  src: url('./../fonts/Yomogi-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Bungee';
  src: url('./../fonts/Bungee-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  background-image: url("./../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

#root {
  height: 100%;
  padding-top: 0.1px;
}

a {
  text-decoration: none;
}